doctype html

include helpers/_mixins.pug
include helpers/_functions.pug
include helpers/_variables.pug

html(lang="en")
    head 
        +metas 
        +css(["home.min.css"])
        +fonts(["AkayaTelivigala-Regular.ttf"])
        link(rel="icon", href="imgs/icon.png")
        title Home
        
    body 
        include layout/_header.pug
        include pages/_home.pug
        include layout/_footer.pug

        +scripts([])