<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.min.css">
    <link rel="stylesheet" href="webfonts/AkayaTelivigala-Regular.ttf">
    <link rel="icon" href="imgs/icon.png">
    <title>Login System</title>
  </head>
  <body> 
    <header class="bg-dark p-2 mb-5 text-white text-center">
      <h1><span class="text-primary">Login</span> System</h1>
    </header>
    <section class="content" id="content">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-6">
            <h2 class="text-center">Register</h2>
            <form class="register" id="register" action="/register" method="post">
              <div class="form-group">
                <label for="first_name">First name </label>
                <input class="form-control" type="text" name="first_name" required autocomplete="off">
              </div>
              <div class="form-group">
                <label for="last_name">Last name </label>
                <input class="form-control" type="text" name="last_name" required autocomplete="off">
              </div>
              <div class="form-group">
                <div class="form-check form-check-inline">       
                  <input class="form-check-input" type="radio" name="gender" value="mane" required>
                  <label class="form-check-label" for="gender">Male</label>
                  <input class="form-check-input" type="radio" name="gender" value="female" required>
                  <label class="form-check-label" for="gender">Female </label>
                </div>
              </div>
              <div class="form-group">
                <label for="date_of_birth">Date of Birth</label>
                <input class="form-control" type="date" name="date_of_birth" required>
              </div>
              <div class="form-group">
                <label for="username">Username </label>
                <input class="form-control" type="text" name="username" required autocomplete="off">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" aria-describedby="emailHelp" required autocomplete="off"><small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else. </small>
              </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="register">
              </div>
            </form>
          </div>
          <div class="col-5">
            <h2 class="text-center">Login</h2>
            <form class="login" id="login" action="/login" method="post">
              <div class="form-group"> 
                <label for="username">Username </label>
                <input class="form-control" type="text" name="username" required autocomplete="off">
              </div>
              <div class="form-group">
                <label for="password">Password </label>
                <input class="form-control" type="password" name="password" required>
              </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="login">
              </div>
            </form>
            <div class="earth"> <img src="imgs/earth.png" alt="earth"></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-dark p-2 mt-5 text-white text-center"><span>All Rights reserved &copy; <span class="text-primary">Samo Bsgr </span></span></footer>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/plugins.min.js"></script>
    <script src="js/ajax.min.js"></script>
  </body>
</html>