section#content.content
    .container
        .row
            .col-lg-6.col-sm-12
                h2.text-center Account Info
                include ../components/_selfUser.pug

            .col-lg-3.col-sm-6
                h2.text-center Online
                include ../components/_activeUsers.pug

            .col-lg-3.col-sm-6
                h2.text-center Offline
                include ../components/_inActiveUsers.pug