section#content.content
    .container
        div.row.justify-content-between
            .col-6
                h2.text-center Register
                include ../components/_register.pug
            .col-5
                h2.text-center Login
                include ../components/_login.pug
